# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Sanitars & Shiziks.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Sanitars & Shiziks\.idea\.idea.Sanitars & Shiziks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
